* {
    padding: 0px;
    margin: 0px;
}

body {
    background-size: cover;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-image: url("/images/desktop.png");
    background-color: #FE7A78;
    background-size: cover;
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 7vh;
}

.top {
    background-color: #5D54A3;
    height: 60px;
    width: 100%;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    border: 0px;
    margin: 0px 0px 0px 0px;
}

.top,
form {
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.219);
}

.left-hand {
    width: 500px;
    margin-left: 30px;
    margin-right: 20vh;
}

.left-hand h1 {
    color: #fff;
    font-size: 50px;
    line-height: 9vh;
    margin-bottom: 6vh;
}
.left-hand p, .left-hand h1{
    margin-left: 9vh;
    margin-right: -5vh;
}
.right-hand{
    margin-right: 14vh;
}
.left-hand p {
    color: #fff;
    font-size: 18px;
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 100%;
}

.right-hand div {
    margin-top: 5vh;
}

form {
    margin-top: 5vh;
    width: 500px;
    height: fit-content;
    padding: 15px;
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 5px;
}

form input:active {
    border: 1px solid red;
}

input:active {
    border: 1px solid red;
}

input {
    border-radius: 5px;
    border: 1px solid gray;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 94%;
}

.error-message {
    display: none;
    float: right;
    margin-top: -18px;
    margin-bottom: 18px;
    color: rgb(255, 121, 120);
}

.light {
    font-weight: lighter;
}

span {
    display: inline;
    float: right;
    margin-top: -13px;
    margin-bottom: 13px;
    margin-right: 8px;
    color: red;
    font-size: 15px;
}

button {
    background-color: #39CC88;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-bottom: 3px #1f4131;
    border: 0px;
    height: 60px;
    width: 100%;
    transition: 0.5s;
}

button {
    box-shadow: 0px 5px 0px 0px rgba(0, 146, 114, 0.803);
}

button:hover {
    background-color: #77E2B4;
    transition: 0.5s;
    cursor: pointer;
}

.smallp {
    text-align: center;
    margin-top: 10px;
    color: gray;
}

.red {
    color: red;
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 375px) {
    body {
        background-size: cover;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        background-image: url("/images/mobile.png");
        background-color: #FE7A78;
        background-size: cover;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        margin: auto;
        margin-top: 7vh;
        padding-left: 5vh;
    }

    .left-hand,
    .right-hand {
    }

    p {
         width: 80%;
         font-size: xx-small;
    }

    form {
        margin-right: 6px;
        margin-left: 30px;
         height: fit-content;
         width: 346px;
    }
    .text-wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: 13%;
        width: 70%;
    }

    .top {
        margin-left: 7.5%;
        width: 375px;
    }
    button {
        background-color: #39CC88;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border-bottom: 3px #1f4131;
        border: 0px;
        height: 50px;
        width: 100%;
        transition: 0.5s;
    }
    .right-hand{
        display: block;
        margin-left: 45px;
        margin-bottom: 60px;
    }
    .formation{
        display: flex;
        flex-direction: column;
        width: 390px;
    }
    .formation form{
        width: 72%;
        margin-left: 17%;
    }
    .formation > .top{
        width: 80%;
        margin-left: 17%;
    }
    .text-wrapper > h1{
        width: 70%;
        margin-left: auto;
    }
    .text-wrapper > .first-p{
        width: 70%;
        margin-left: 10%;
    }
    .top{
        width: 70%;
    }
}
@media only screen and (max-width: 1440px){
    body {
        background-size: cover;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        background-image: url("/images/desktop.png");
        background-color: #FE7A78;
        background-size: cover;
    }
    
    main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 7vh;
    }
    
    .top {
        background-color: #5D54A3;
        height: 60px;
        width: 100%;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
        border: 0px;
        margin: 0px 0px 0px 0px;
    }
    
    .top,
    form {
        box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.219);
    }
    
    .left-hand {
        width: 500px;
        margin-left: 30px;
        margin-right: 20vh;
    }
    
    .left-hand h1 {
        color: #fff;
        font-size: 50px;
        line-height: 9vh;
        margin-bottom: 6vh;
    }
    .left-hand p, .left-hand h1{
        margin-left: 9vh;
        margin-right: -5vh;
    }
    .right-hand{
        margin-right: 14vh;
    }
    .left-hand p {
        color: #fff;
        font-size: 18px;
    }
    .text-wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        width: 100%;
    }
    
    .right-hand div {
        margin-top: 5vh;
    }
    
    form {
        margin-top: 5vh;
        width: 500px;
        height: fit-content;
        padding: 15px;
        background-color: #FFF;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    form input:active {
        border: 1px solid red;
    }
    
    input:active {
        border: 1px solid red;
    }
    
    input {
        border-radius: 5px;
        border: 1px solid gray;
        height: 50px;
        padding-left: 20px;
        margin-bottom: 0px;
        margin: auto;
        display: flex;
        justify-content: center;
        width: 94%;
    }
    
    .error-message {
        display: none;
        float: right;
        margin-top: -18px;
        margin-bottom: 18px;
        color: rgb(255, 121, 120);
    }
    
    .light {
        font-weight: lighter;
    }
    
    span {
        display: inline;
        float: right;
        margin-top: -13px;
        margin-bottom: 13px;
        margin-right: 8px;
        color: red;
        font-size: 15px;
    }
    
    button {
        background-color: #39CC88;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border-bottom: 3px #1f4131;
        border: 0px;
        height: 60px;
        width: 100%;
        transition: 0.5s;
    }
    
    button {
        box-shadow: 0px 5px 0px 0px rgba(0, 146, 114, 0.803);
    }
    
    button:hover {
        background-color: #77E2B4;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .smallp {
        text-align: center;
        margin-top: 10px;
        color: gray;
    }
    
    .red {
        color: red;
    }
    
    a {
        text-decoration: none;
    }
}

@media only screen and (max-width: 250px) {
    body {
        background-size: cover;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        background-image: url("/images/mobile.png");
        background-color: #FE7A78;
        background-size: cover;
    }

    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        margin: auto;
        margin-top: 7vh;
        padding-left: 5vh;
    }

    .left-hand,
    .right-hand {
    }

    p {
         width: 80%;
         font-size: xx-small;
    }

    form {
        margin-right: 6px;
        margin-left: 30px;
         height: fit-content;
         width: 346px;
    }
    .text-wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-left: 13%;
        width: 100%;
        width: 365px;
    }

    .top {
        margin-left: 7.5%;
        width: 375px;
    }
    button {
        background-color: #39CC88;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border-bottom: 3px #1f4131;
        border: 0px;
        height: 50px;
        width: 100%;
        transition: 0.5s;
    }
    .right-hand{
        display: block;
        margin-left: 45px;
        margin-bottom: 60px;
    }
}

